.badge-list > ul {
  list-style-type: none;
  padding-left: 0 !important;
}

.badge-list > ul > li {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.badge-list > ul > li::before {
  display: block;
  width: 1.8em;
  height: 1.8em;
  margin-right: 0.8em;
  content: '';
  background: url(badge.svg) center center;
  background-size: cover;
}